<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>com.dns.Controller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelDns</servlet-name>
        <servlet-class>com.dns.DelDns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateServer</servlet-name>
        <servlet-class>com.dns.CreateServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DelServer</servlet-name>
        <servlet-class>com.dns.DelServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditServer</servlet-name>
        <servlet-class>com.dns.EditServer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>com.dns.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReloadBind</servlet-name>
        <servlet-class>com.dns.ReloadBind</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateClient</servlet-name>
        <servlet-class>com.dns.CreateClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>WebServ</servlet-name>
        <servlet-class>com.dns.WebServ</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateDns</servlet-name>
        <servlet-class>com.dns.CreateDns</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDns</servlet-name>
        <servlet-class>com.dns.EditDns</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/Controller</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelDns</servlet-name>
        <url-pattern>/DelDns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateServer</servlet-name>
        <url-pattern>/CreateServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DelServer</servlet-name>
        <url-pattern>/DelServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditServer</servlet-name>
        <url-pattern>/EditServer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReloadBind</servlet-name>
        <url-pattern>/ReloadBind</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateClient</servlet-name>
        <url-pattern>/CreateClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>WebServ</servlet-name>
        <url-pattern>/WebServ</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateDns</servlet-name>
        <url-pattern>/CreateDns</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDns</servlet-name>
        <url-pattern>/EditDns</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
